!ls Chronic_Kidney_Disease

In [2]:
import pandas as pd

In [131]:
import numpy as np

In [104]:
df = pd.read_csv('Chronic_Kidney_Disease/chronic_kidney_disease.csv', na_values='?')

In [105]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [106]:
df = df.dropna()

In [107]:
len(df)

158

In [108]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,70.0,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,380.0,...,32,4500,3.8,yes,yes,no,poor,yes,no,ckd
14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,157.0,...,16,11000,2.6,yes,yes,yes,poor,yes,no,ckd
20,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,notpresent,173.0,...,24,9200,3.2,yes,yes,yes,poor,yes,yes,ckd

In [109]:
df.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc', 'rbcc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'class'],
      dtype='object')

In [110]:
df['age'].min()

6.0

In [111]:
df['age'].max()

83.0

# Normalize data

In [112]:
def norm_numeric(dataframe, column):
  dff = dataframe[column].apply(lambda x: float(x))
  min_val = dff.min()
  max_val = dff.max()
  res = dff.apply(lambda x: (x-min_val)/(max_val-min_val))
  return res

In [113]:
df_norm = df.copy()

In [114]:
df_norm['age'] = norm_numeric(df, 'age')
df_norm['bp'] = norm_numeric(df, 'bp')
df_norm['sg'] = norm_numeric(df, 'sg')
df_norm['al'] = norm_numeric(df, 'al')
df_norm['su'] = norm_numeric(df, 'su')
df_norm['bgr' ] = norm_numeric(df, 'bgr')
df_norm['bu'] = norm_numeric(df, 'bu' )
df_norm['sc'] = norm_numeric(df, 'sc')
df_norm['sod'] = norm_numeric(df, 'sod')
df_norm['pot'] = norm_numeric(df, 'pot')
df_norm['hemo'] = norm_numeric(df,'hemo' )
df_norm['pcv'] = norm_numeric(df,'pcv' )
df_norm['wbcc'] = norm_numeric(df, 'wbcc')
df_norm['rbcc'] = norm_numeric(df, 'rbcc')

In [115]:
def norm_nonnumeric(dataframe, column):
  def convert(val):
    if val in ['normal', 'notpresent', 'no', 'good', 'notckd']:
      return 0
    else:
      return 1
  return dataframe[column].apply(convert)

In [116]:
df_norm['rbc'] = norm_nonnumeric(df, 'rbc')
df_norm['pc'] = norm_nonnumeric(df, 'pc')
df_norm['pcc'] = norm_nonnumeric(df, 'pcc')
df_norm['ba'] = norm_nonnumeric(df, 'ba')
df_norm['htn'] = norm_nonnumeric(df, 'htn')
df_norm['dm'] = norm_nonnumeric(df, 'dm')
df_norm['cad'] = norm_nonnumeric(df, 'cad')
df_norm['appet'] = norm_nonnumeric(df, 'appet')
df_norm['ane'] = norm_nonnumeric(df, 'ane')
df_norm['cad'] = norm_nonnumeric(df, 'cad')
df_norm['pe'] = norm_nonnumeric(df, 'pe')
df_norm['class'] = norm_nonnumeric(df, 'class')

In [118]:
df_norm.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
3,0.545455,0.333333,0.00,1.00,0.0,0,1,1,0,0.111905,...,0.511111,0.128319,0.305085,1,0,0,1,1,1,1
9,0.610390,0.666667,0.75,0.50,0.0,1,1,1,0,0.000000,...,0.444444,0.367257,0.271186,1,1,0,1,0,1,1
11,0.740260,0.333333,0.25,0.75,0.0,1,1,1,0,0.738095,...,0.511111,0.030973,0.288136,1,1,0,1,1,0,1
14,0.805195,0.500000,0.25,0.75,0.4,0,1,1,1,0.207143,...,0.155556,0.318584,0.084746,1,1,1,1,1,0,1
20,0.714286,0.500000,0.50,0.50,0.0,1,1,0,0,0.245238,...,0.333333,0.238938,0.186441,1,1,1,1,1,1,1

In [125]:
df_matrix = df_norm.as_matrix()

/home/trivu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [127]:
df_matrix.shape

(158, 25)

In [139]:
features = df_matrix[:, :24]
classes = df_matrix[:, -1]

In [147]:
pos_mask_classes = classes.astype(bool)
neg_mask_classes = (1 - classes).astype(bool)

In [152]:
pos_features = features[pos_mask_classes]
neg_features = features[neg_mask_classes]

In [158]:
pos_v = pos_features.mean(axis=0)
neg_v = pos_features.mean(axis=0)

In [161]:
p = 2

In [174]:
s1_pos = (1 - np.abs(pos_features**p - pos_v**2))**(1/p)
s1_neg = (1 - np.abs(neg_features**p - neg_v**2))**(1/p)

In [175]:
u1_pos = np.log(np.sum(s1_pos, axis=0))
u1_neg = np.log(np.sum(s1_neg, axis=0))

In [176]:
u1_pos

array([3.67662372, 3.64111518, 3.64930382, 3.59046146, 3.69050424,
       3.40913572, 3.39769219, 3.46504961, 3.50005378, 3.68714801,
       3.68836257, 3.63896687, 3.67930292, 3.73788514, 3.70812585,
       3.7022463 , 3.6977736 , 3.72084933, 3.47796033, 3.38833601,
       3.51895631, 3.39870628, 3.38990271, 3.43446339])

In [173]:
v = features.mean(axis=0)

In [179]:
s2_pos = (1 - np.abs(features**p - pos_v**p))**(1/p)
s2_neg = (1 - np.abs(features**p - neg_v**p))**(1/p)

In [180]:
u2_pos = np.log(np.sum(s2_pos, axis=0))
u2_neg = np.log(np.sum(s2_neg, axis=0))

In [183]:
Td_pos = u1_pos/len(pos_features) - u2_pos/len(features)
Td_neg = u1_neg/len(neg_features) - u2_neg/len(features)

In [186]:
Td = (Td_pos + Td_neg)

In [187]:
Td_index = np.argsort(Td)

In [188]:
Td_index

array([22, 19, 21,  6,  5, 23,  7, 18,  8, 20,  3, 11,  1,  2,  0, 12,  9,
       10,  4, 16, 15, 14, 17, 13])

In [190]:
df.columns[Td_index]

Index(['pe', 'dm', 'appet', 'pc', 'rbc', 'ane', 'pcc', 'htn', 'ba', 'cad',
       'al', 'sc', 'bp', 'sg', 'age', 'sod', 'bgr', 'bu', 'su', 'wbcc', 'pcv',
       'hemo', 'rbcc', 'pot'],
      dtype='object')